body{
background-color:#b0eef7;
margin-left: 10%;
size: auto;
}

.box2{
    background-color: whitesmoke;
    width: 300px;
    height: 300px;
    margin-top: -20%;
    margin-left: 70%;
    margin-right: 30%;
    position:absolute;
    transform:translate(-50%,-50%);
    box-sizing: border-box;
    padding: 30px 30px;
}
.userimg{
    width: 100px;
    height: 100px;
    margin-top: 1%;
    margin-left: -6%;
}

h1{
    font-size: 5em;
    color: rgba(2, 60, 70, 0.89);
}

h2{
    font-size: 5em;
    color: rgb(248, 123, 7);
}
h3{
    font-size: 5em;
    color: rgba(2, 60, 70, 0.89);
}

.bottom{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 600px;
    margin-right: 50px;
    font-size: 2em;
    color: black;
    
}